@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
// font-family: 'PT Sans Narrow', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
// font-family: 'Anton', sans-serif;

// brand color
$White: #ffffff;
$Vivid_Pink: #ff0f7a;
$Spring_Green: #39ff14;
$Electric_Purple: #5501ee;
$Delayed_Yellow: #fcfe00;
$Deep_Sky_Blue: #36e1ff;
$Black: #0d0d0d;

// gradient colors
$blue_gradient: linear-gradient(180deg, #5501ef 13.02%, #3effa5 100%);

// shadows
$Main_Title_drop_shadow: 0px 5px 5px rgba(0, 0, 0, 0.56);

//  Font family
$PT_Sans_Narrow: "PT Sans Narrow", sans-serif;
$Anton: "Anton", sans-serif; ;
